<div class='container menu'>
	<div class='row'>
		<div class='span12 menu-title-container'>
			<p class='menu-title'>Dinner Menu</p>
			<p class='menu-subtitle'>MONDAY - SUNDAY 5:30PM - 10:00PM</p>
		</div>
	</div>
	<div class='row'>
		<div class='span4'>
			<div class='row menu-line'>
				<div class='span4 menu-section-title'>
					<p>Soups &amp; Starters</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Miso Soup</p>
					<p class='menu-info'>w/ tofu, seaweed &amp; green onions</p>
				</div>
				<div class='span1 menu-price'>
					<p>2</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Amaebi Miso Soup</p>
					<p class='menu-info'>miso soup w/ sweet shrimp head
				</div>
				<div class='span1 menu-price'>
					<p>3.5</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Steamed Rice</p>
					<p class='menu-info'>the best japanese rice 'tamanishiki'
				</div>
				<div class='span1 menu-price'>
					<p>2</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Edamame</p>
					<p class='menu-info'>our special 'kuro edamame'
				</div>
				<div class='span1 menu-price'>
					<p>3</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Baby Crispy Spice Tuna</p>
					<p class='menu-info'>1/2 size crispy spicy tuna
				</div>
				<div class='span1 menu-price'>
					<p>4</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Sauteed Green Beans</p>
				</div>
				<div class='span1 menu-price'>
					<p>5</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Shishito Peppers</p>
					<p class='menu-info'>topped w/ bonito flakes
				</div>
				<div class='span1 menu-price'>
					<p>5</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Steamed Asparagus</p>
					<p class='menu-info'>w/ spicy mayo
				</div>
				<div class='span1 menu-price'>
					<p>6.5</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Dynamite Mussels</p>
					<p class='menu-info'>green mussels baked w/ dynamite papaya sauce
				</div>
				<div class='span1 menu-price'>
					<p>7</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Fried Calamari</p>
					<p class='menu-info'>w/ special sauce
				</div>
				<div class='span1 menu-price'>
					<p>7</p>
				</div>
			</div>
		</div>
		<div class='span4'>
			<div class='row menu-line'>
				<div class='span4 menu-section-title'>
					<p>Salads</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Sunomono</p>
					<p class='menu-info'>thinly sliced cucumbers w/ ponzu
				</div>
				<div class='span1 menu-price'>
					<p>3.5</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Green Salad</p>
					<p class='menu-info'>organic mixed greens w/ house dressing
				</div>
				<div class='span1 menu-price'>
					<p>3.5</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Fresh Tomato Salad</p>
					<p class='menu-info'>marinated in a basil vinagrette w/ creamy mayo &amp; wonton chips
				</div>
				<div class='span1 menu-price'>
					<p>4.75</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Green Seaweed Salad</p>
					<p class='menu-info'>marinated in sesame oil
				</div>
				<div class='span1 menu-price'>
					<p>4.75</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Salmon Skin Salad</p>
					<p class='menu-info'>crispy salmon skin on mixed greens w/ ponzu dressing
				</div>
				<div class='span1 menu-price'>
					<p>8</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Albacore Salad</p>
					<p class='menu-info'>albacore sashimi on mixed greens w/ tataki sauce
				</div>
				<div class='span1 menu-price'>
					<p>12</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Blue Crab Salad</p>
					<p class='menu-info'>maryland blue crab on mixed greens w/ sesame dressing
				</div>
				<div class='span1 menu-price'>
					<p>12</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Sashimi Salad</p>
					<p class='menu-info'>assorted sashimi on mixed greens w/ sesame dressing
				</div>
				<div class='span1 menu-price'>
					<p>14</p>
				</div>
			</div>
		</div>
		<div class='span4'>
			<div class='row menu-line'>
				<div class='span4 menu-section-title'>
					<p>A La Carte</p>
				</div>
			</div>

			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Sauteed Vegetables</p>
					<p class='menu-info'>assorted vegetables sauteed in soy butter</p>
				</div>
				<div class='span1 menu-price'>
					<p>6.5</p>
				</div>
			</div>

			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Ika-Yaki</p>
					<p class='menu-info'>grilled squid w/ spacy mayo</p>
				</div>
				<div class='span1 menu-price'>
					<p>6.95</p>
				</div>
			</div>

			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Tofu Steak</p>
					<p class='menu-info'>lightly fried tofu in soy based sauce</p>
				</div>
				<div class='span1 menu-price'>
					<p>5.95</p>
				</div>
			</div>

			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Crispy Spicy Tuna</p>
					<p class='menu-info'>deep fried rice patty topped w/ spicy tuna, avocado, masago &amp; jalapeno</p>
				</div>
				<div class='span1 menu-price'>
					<p>7</p>
				</div>
			</div>

			<div class='row menu-line'>
				<div class='span4 menu-item'>
					<p>Tempura</p>
				</div>
			</div>
			<div class='row'>
				<div class='span3 menu-item'>
					<p class='menu-info'>veggie</p>
					<p class='menu-info'>mixed</p>
				</div>
				<div class='span1 menu-price'>
					<p>7</p>
					<p>8</p>
				</div>
			</div>

			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Teriyaki Chicken</p>
				</div>
			</div>
			<div class='row'>
				<div class='span3 menu-item'>
					<p class='menu-info'>dark meat</p>
					<p class='menu-info'>white meat</p>
				</div>
				<div class='span1 menu-price'>
					<p>6.5</p>
					<p>7.5</p>
				</div>
			</div>

			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Crab Cakes</p>
					<p class='menu-info'>creamy maryland blue crab w/ papaya sauce</p>
				</div>
				<div class='span1 menu-price'>
					<p>7.5</p>
				</div>
			</div>

			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Seafood Chawan Mushi</p>
					<p class='menu-info'>japanese egg custard w/ assorted seafood</p>
				</div>
				<div class='span1 menu-price'>
					<p>8</p>
				</div>
			</div>

			<div class='row menu-line'>
				<div class='span4 menu-item'>
					<p>Miso Marinated Steak</p>
				</div>
			</div>
			<div class='row'>
				<div class='span3 menu-item'>
					<p class='menu-info'>black cod</p>
					<p class='menu-info'>sea bass</p>
				</div>
				<div class='span1 menu-price'>
					<p>15</p>
					<p>18</p>
				</div>
			</div>

			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Saikoro Steak</p>
					<p class='menu-info'>bite size steak w/ tataki sauce</p>
				</div>
				<div class='span1 menu-price'>
					<p>9.5</p>
				</div>
			</div>

			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Hamachi-kama</p>
					<p class='menu-info'>grilled yellowtail collar</p>
				</div>
				<div class='span1 menu-price'>
					<p>10</p>
				</div>
			</div>

			<div class='row menu-line'>
				<div class='span4 menu-item'>
					<p>Dynamite</p>
					<p class='menu-info'>baked in a papaya shell w/ dynamite sauce
				</div>
			</div>
			<div class='row'>
				<div class='span3 menu-item'>
 					<p class='menu-info'>w/ baby scallop</p>
					<p class='menu-info'>w/ lobster</p>
 				</div>
 				<div class='span1 menu-price'>
					<p>9</p>
					<p>12</p>
				</div>
			</div>

			<div class='row menu-line'>
				<div class='span4'>
					<p>&nbsp;</p>
				</div>
			</div>

			<div class='row menu-line'>
				<div class='span4 menu-section-title'>
					<p>Combination</p>
				</div>
			</div>

			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Bento Box</p>
					<p class='menu-info'>served w/ rice, miso soup &amp; salad</p>
					<p class='menu-info'>choose two:</p>
					<p class='menu-info'>tempura</p>
					<p class='menu-info'>gyoza</p>
					<p class='menu-info'>karaage</p>
					<p class='menu-info'>crab cake</p>
					<p class='menu-info'>saikoro steak</p>
					<p class='menu-info'>teriyaki chicken (dark or white meat)</p>
				</div>
				<div class='span1 menu-price'>
					<p>18</p>
				</div>
			</div>

			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Noodles</p>
					<p class='menu-info'>soba or udon only</p>
					<p class='menu-info'>tempura &amp; soba or udon</p>
					<p class='menu-info'>tempura &amp; cha-soba</p>
				</div>
				<div class='span1 menu-price'>
					<p>&nbsp;</p>
					<p>7.5</p>
					<p>8.5</p>
					<p>9.5</p>
				</div>
			</div>

			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Kid's Meal</p>
					<p class='menu-info'>boneless fried chicken w/ choice of california roll, or avocado roll</p>
				</div>
				<div class='span1 menu-price'>
					<p>5.95</p>
				</div>
			</div>
		</div>
	</div>
</div>
