<div class='container menu'>
	<div class='row'>
		<div class='span12 menu-title-container'>
			<p class='menu-title'>Happy Hour Menu</p>
			<p class='menu-subtitle'>MONDAYS 5:30 - 8:30PM</p>
			<p class='menu-subtitle'>TUESDAY - SUNDAY 5:30 - 6:30PM</p>
		</div>
	</div>
	<div class='row'>
		<div class='span8'>
			<div class='row'>
				<div class='span8 menu-section-title'>
					<p>Hand Rolls</p>
				</div>	
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>California Roll</p>
				</div>
				<div class='span1 menu-price'>
					<p>$2.50</p>
				</div>
				<div class='span3 menu-item'>
					<p>Philly Roll</p>
				</div>
				<div class='span1 menu-price'>
					<p>$2.50</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Baked Salmon Roll</p>
				</div>
				<div class='span1 menu-price'>
					<p>$2.50</p>
				</div>
				<div class='span3 menu-item'>
					<p>Vegetable Roll</p>
				</div>
				<div class='span1 menu-price'>
					<p>$2.50</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Avocado Roll</p>
				</div>
				<div class='span1 menu-price'>
					<p>$2.50</p>
				</div>
				<div class='span3 menu-item'>
					<p>Spicy Tuna Roll</p>
				</div>
				<div class='span1 menu-price'>
					<p>$2.50</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Spicy Yellowtail Roll</p>
				</div>
				<div class='span1 menu-price'>
					<p>$2.50</p>
				</div>
				<div class='span3 menu-item'>
					<p>Spicy Scallop Roll</p>
				</div>
				<div class='span1 menu-price'>
					<p>$2.50</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Spicy Albacore Roll</p>
				</div>
				<div class='span1 menu-price'>
					<p>$2.50</p>
				</div>
				<div class='span3 menu-item'>
					<p>w/ Soy Wrap Paper</p>
				</div>
				<div class='span1 menu-price'>
					<p>+$0.75</p>
				</div>
			</div>
		</div>
		<div class='span4'>
			<div class='row'>
				<div class='span4 menu-section-title'>
					<p>Drink Specials</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span4 menu-item'>
					<p>KIRIN DRAFT BEER</p>
				</div>
			</div>
			<div class='row'>
				<div class='span3 menu-item'>
					<ul>
						<li>GLASS</li>
						<li>PITCHER</li>
					</ul>
				</div>
				<div class='span1 menu-price'>
					<ul>
						<li>$1.50</li>
						<li>$7.50</li>
					</ul>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span4 menu-item'>
					<p>HOT SAKE</p>
				</div>
			</div>
			<div class='row'>
				<div class='span3 menu-item'>
					<ul>
						<li>SMALL</li>
						<li>LARGE</li>
					</ul>
				</div>
				<div class='span1 menu-price'>
					<ul>
						<li>$2.00</li>
						<li>$4.00</li>
					</ul>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>HOUSE COLD SAKE</p>
				</div>
				<div class='span1 menu-price'>
					<p>$4.00</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>NIGORI SAKE</p>
				</div>
				<div class='span1 menu-price'>
					<p>$4.00</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span4 menu-item'>
					<p>HOUSE WINE</p>
				</div>
			</div>
			<div class='row'>
				<div class='span3 menu-item'>
					<ul>
						<li>RED</li>
						<li>WHITE</li>
					</ul>
				</div>
				<div class='span1 menu-price'>
					<ul>
						<li>$4.00</li>
						<li>$4.00</li>
					</ul>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>CHAMPAGNE (187ml)</p>
				</div>
				<div class='span1 menu-price'>
					<p>$4.00</p>
				</div>
			</div>
		</div>
	</div>
</div>