<div class="container menu">
	<div class="row">
		<div class="span4 menu-header"><span>Lunch Menu</span><p>&nbsp;</p></div>
		<div class="span4 menu-header"><span>Lunch Combination</span><p>Served w/ miso soup, salad &amp; rice </p></div>
		<div class="span4 menu-header"><span>Lunch Drinks</span><p>&nbsp;</p></div>
	</div>
	<div class="row">
		<div class="span3">
			<h5>Chicken Curry Rice</h5>
			<p>Homemade chicken curry w/ egg</p>
		</div>
		<div class="span1">
			<h5>$8.5</h5>
		</div>
		<div class="span3">
			<h5>Vegetable Tempura</h5>
		</div>
		<div class="span1">
			<h5>$6.95</h5>
		</div>
		<div class="span3">
			<h5>Soft Drinks (7up, Coke, Diet Coke)</h5>
		</div>
		<div class="span1">
			<h5>$1.5</h5>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<h5>Soba (hot or cold)</h5>
			<p>Japanese Buckwheat Noodles</p>
		</div>
		<div class="span1">
			<h5>$5.5</h5>
		</div>
		<div class="span3">
			<h5>Tempura</h5>
			<p>2pc shrimp tempura &amp; mixed veggie tempura</p>
		</div>
		<div class="span1">
			<h5>$8.95</h5>
		</div>
		<div class="span3">
			<h5>Iced Green Tea</h5>
		</div>
		<div class="span1">
			<h5>$2</h5>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<h5>Cha-Soba</h5>
			<p>Japanese Green Tea Noodle</p>
		</div>
		<div class="span1">
			<h5>$6.5</h5>
		</div>
		<div class="span3">
			<h5>Crab Cake &amp; Tempura</h5>
			<p>Deep fried creamy crab cake &amp; assorted tempura</p>
		</div>
		<div class="span1">
			<h5>$7.95</h5>
		</div>
		<div class="span3">
			<h5>Kirin Draft</h5>
		</div>
		<div class="span1">
			<h5>$2.5</h5>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<h5>Tempura Soba (hot)</h5>
			<p>Japanese Buckwheat or Green Tea Noodle</p>
		</div>
		<div class="span1">
			<h5>$7.5</h5>
		</div>
		<div class="span3">
			<h5>Karaage &amp; Tempura</h5>
			<p>Boneless fried chicken &amp; assorted tempura</p>
		</div>
		<div class="span1">
			<h5>$8.50</h5>
		</div>
		<div class="span3">
			<h5>House Wine</h5>
		</div>
		<div class="span1">
			<h5>$4</h5>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<h5>Tempura Soba (cold)</h5>
			<p>Japanese Buckwheat or Green Tea Noodle</p>
		</div>
		<div class="span1">
			<h5>$8.5</h5>
		</div>
		<div class="span3">
			<h5>Teriyaki Chicken &amp; Tempura</h5>
			<p>White meat teriyaki chicken &amp; assorted tempura</p>
		</div>
		<div class="span1">
			<h5>$7.95</h5>
		</div>
		<div class="span3">
			<h5>House Sake</h5>
		</div>
		<div class="span1">
			<h5>$4</h5>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<h5>Tekka-Don</h5>
			<p>Fresh tuna sashimi on top of sushi rice w/ miso soup</p>
		</div>
		<div class="span1">
			<h5>$10.5</h5>
		</div>
		<div class="span3">
			<h5>Saikoro Steak &amp; Tempura</h5>
			<p>Bite-size steak w/ special sauce &amp; assorted tempura</p>
		</div>
		<div class="span1">
			<h5>$9.5</h5>
		</div>
		<div class="span4 menu-header">
			<span>Dessert</span>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<h5>Mucho Tekka</h5>
			<p>Extra tuna sashimi on top of sushi rice w/ miso soup</p>
		</div>
		<div class="span1">
			<h5>$13</h5>
		</div>
		<div class="span3">
			<h5>Miso Seabass &amp; Tempura</h5>
			<p>Miso marinated seabass &amp; assorted tempura</p>
		</div>
		<div class="span1">
			<h5>$18</h5>
		</div>
		<div class="span3">
			<h5>Green Tea Crème Brulee</h5>
		</div>
		<div class="span1">
			<h5>$5</h5>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<h5>Chirashi</h5>
			<p>Assorted fresh sashimi on top of sushi rice w/ miso soup &amp; salad</p>
		</div>
		<div class="span1">
			<h5>$13</h5>
		</div>
		<div class="span3">
			<h5>Sushi &amp; Tempura</h5>
			<p>5pcs of Chef's choice sushi &amp; assorted tempura</p>
		</div>
		<div class="span1">
			<h5>$9.95</h5>
		</div>
		<div class="span3">
			<h5>Warm Choclate Cake</h5>
		</div>
		<div class="span1">
			<h5>$5</h5>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<h5>Chirashi Deluxe</h5>
			<p></p>
		</div>
		<div class="span1">
			<h5>$15</h5>
		</div>
		<div class="span3">
			<h5>Sushi &amp; Roll</h5>
			<p>5pcs of Chef's choice sushi &amp; choice of spicy tuna or california roll</p>
		</div>
		<div class="span1">
			<h5>$9.95</h5>
		</div>
		<div class="span3">
			<h5>Assorted Dessert Platter</h5>
		</div>
		<div class="span1">
			<h5>$12</h5>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<h5>Ultra Chirashi</h5>
			<p></p>
		</div>
		<div class="span1">
			<h5>$18</h5>
		</div>
		<div class="span3">
			<h5>Sushi Combo</h5>
			<p>9pcs. Chef's choice sushi</p>
		</div>
		<div class="span1">
			<h5>$14</h5>
		</div>
		<div class="span4"></div>
	</div>
	<div class="row">
		<div class="span4">
		</div>
		<div class="span3">
			<h5>Sashimi Combo</h5>
			<p>5 kinds of Chef's choice sashimi</p>
		</div>
		<div class="span1">
			<h5>$18</h5>
		</div>
		<div class="span4"></div>
	</div>
	<div class="row">
		<div class="span4">
		</div>
		<div class="span3">
			<h5>Mini Chirashi Combo</h5>
			<p>Mini chirashi w/ hot or cold cha-soba</p>
		</div>
		<div class="span1">
			<h5>$14</h5>
		</div>
		<div class="span4"></div>
	</div>
	<div class="row">
		<div class="span4">
		</div>
		<div class="span3">
			<h5>Bento Box of the Day</h5>
			<p>Please ask server</p>
		</div>
		<div class="span1">
			<h5>$14</h5>
		</div>
		<div class="span4"></div>
	</div>
</div>
