<div class='container menu'>
	<div class='row'>
		<div class='span12 menu-title-container'>
			<p class='menu-title'>Lunch Menu</p>
			<p class='menu-subtitle'>TUESDAY - FRIDAY 11:30 - 2:00PM</p>
		</div>
	</div>
	<div class='row'>
		<div class='span4'>
			<div class='row menu-line'>
				<div class='span4 menu-section-title'>
					<p>Lunch Menu</p><p>&nbsp;</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Chicken Curry Rice</p>
					<p class='menu-info'>Homemade chicken curry w/ egg</p>
				</div>
				<div class='span1 menu-price'>
					<p>$8.5</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Soba (hot or cold)</p>
					<p class='menu-info'>Japanese Buckwheat Noodles</p>
				</div>
				<div class='span1 menu-price'>
					<p>$5.5</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Cha-Soba</p>
					<p class='menu-info'>Japanese Green Tea Noodle</p>
				</div>
				<div class='span1 menu-price'>
					<p>$6.5</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Tempura Soba (hot)</p>
					<p class='menu-info'>Japanese Buckwheat or Green Tea Noodle</p>
				</div>
				<div class='span1 menu-price'>
					<p>$7.5</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Tempura Soba (cold)</p>
					<p class='menu-info'>Japanese Buckwheat or Green Tea Noodle</p>
				</div>
				<div class='span1 menu-price'>
					<p>$8.5</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Tekka-Don</p>
					<p class='menu-info'>Fresh tuna sashimi on top of sushi rice w/ miso soup</p>
				</div>
				<div class='span1 menu-price'>
					<p>$10.5</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Mucho Tekka</p>
					<p class='menu-info'>Extra tuna sashimi on top of sushi rice w/ miso soup</p>
				</div>
				<div class='span1 menu-price'>
					<p>$13</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Chirashi</p>
					<p class='menu-info'>Assorted fresh sashimi on top of sushi rice w/ miso soup &amp; salad</p>
				</div>
				<div class='span1 menu-price'>
					<p>$13</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Chirashi Deluxe</p>
					<p class='menu-info'></p>
				</div>
				<div class='span1 menu-price'>
					<p>$15</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Ultra Chirashi</p>
					<p></p>
				</div>
				<div class='span1 menu-price'>
					<p>$18</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span4'>
				</div>
				<div class='span3 menu-item'>
					<p>Sashimi Combo</p>
					<p class='menu-info'>5 kinds of Chef's choice sashimi</p>
				</div>
				<div class='span1 menu-price'>
					<p>$18</p>
				</div>
				<div class='span4'></div>
			</div>
		</div>
		<div class='span4'>
			<div class='row menu-line'>
				<div class='span4 menu-section-title'>
					<p>Lunch Combination</p>
					<p class='menu-info'>Served w/ miso soup, salad &amp; rice</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Vegetable Tempura</p>
				</div>
				<div class='span1 menu-price'>
					<p>$6.95</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Tempura</p>
					<p class='menu-info'>2pc shrimp tempura &amp; mixed veggie tempura</p>
				</div>
				<div class='span1 menu-price'>
					<p>$8.95</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Crab Cake &amp; Tempura</p>
					<p class='menu-info'>Deep fried creamy crab cake &amp; assorted tempura</p>
				</div>
				<div class='span1 menu-price'>
					<p>$7.95</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Karaage &amp; Tempura</p>
					<p class='menu-info'>Boneless fried chicken &amp; assorted tempura</p>
				</div>
				<div class='span1 menu-price'>
					<p>$8.50</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Teriyaki Chicken &amp; Tempura</p>
					<p class='menu-info'>White meat teriyaki chicken &amp; assorted tempura</p>
				</div>
				<div class='span1 menu-price'>
					<p>$7.95</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Saikoro Steak &amp; Tempura</p>
					<p class='menu-info'>Bite-size steak w/ special sauce &amp; assorted tempura</p>
				</div>
				<div class='span1 menu-price'>
					<p>$9.5</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Miso Seabass &amp; Tempura</p>
					<p class='menu-info'>Miso marinated seabass &amp; assorted tempura</p>
				</div>
				<div class='span1 menu-price'>
					<p>$18</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Sushi &amp; Tempura</p>
					<p class='menu-info'>5pcs of Chef's choice sushi &amp; assorted tempura</p>
				</div>
				<div class='span1 menu-price'>
					<p>$9.95</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Sushi &amp; Roll</p>
					<p class='menu-info'>5pcs of Chef's choice sushi &amp; choice of spicy tuna or california roll</p>
				</div>
				<div class='span1 menu-price'>
					<p>$9.95</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Sushi Combo</p>
					<p class='menu-info'>9pcs. Chef's choice sushi</p>
				</div>
				<div class='span1 menu-price'>
					<p>$14</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Sashimi Combo</p>
					<p class='menu-info'>5 kinds of Chef's choice sashimi</p>
				</div>
				<div class='span1 menu-price'>
					<p>$18</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Mini Chirashi Combo</p>
					<p class='menu-info'>Mini chirashi w/ hot or cold cha-soba</p>
				</div>
				<div class='span1 menu-price'>
					<p>$14</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Bento Box of the Day</p>
					<p class='menu-info'>Please ask server</p>
				</div>
				<div class='span1 menu-price'>
					<p>$14</p>
				</div>
			</div>
		</div>
		<div class='span4'>
			<div class='row menu-line'>
				<div class='span4 menu-section-title'>
					<p>Lunch Drinks</p>
					<p>&nbsp;</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Soft Drinks (7up, Coke, Diet Coke)</p>
				</div>
				<div class='span1 menu-price'>
					<p>$1.5</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Iced Green Tea</p>
				</div>
				<div class='span1 menu-price'>
					<p>$2</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Kirin Draft</p>
				</div>
				<div class='span1 menu-price'>
					<p>$2.5</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>House Wine</p>
				</div>
				<div class='span1 menu-price'>
					<p>$4</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>House Sake</p>
				</div>
				<div class='span1 menu-price'>
					<p>$4</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span4'>
					<p>&nbsp;</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span4 menu-section-title'>
					<p>Dessert</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Green Tea Crème Brulee</p>
				</div>
				<div class='span1 menu-price'>
					<p>$5</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Warm Choclate Cake</p>
				</div>
				<div class='span1 menu-price'>
					<p>$5</p>
				</div>
			</div>
			<div class='row menu-line'>
				<div class='span3 menu-item'>
					<p>Assorted Dessert Platter</p>
				</div>
				<div class='span1 menu-price'>
					<p>$12</p>
				</div>
			</div>
		</div>
	</div>
</div>
