<div class="container subnav">
    <ul class="nav">
      <li><a href="#" class="active">HOME</a></li>
      <li><a href="#about">ABOUT</a></li>
      <li><a href="#location">LOCATION</a></li>
      <li><a href="#menu">MENU</a></li>
    </ul>
</div>
