<% content_for :subnav do %>
	<%# render 'static_pages/menu_subnav' %>
<% end %>

<div class="menu-section container">
	<div clas="row">
		<div class="span12">
			<ul class="nav nav-tabs" id="menu-tab">
				<li><a href="#happyhour" class='disabled'>Happy Hour</a></li>
				<li><a href="#lunch" class='disabled'>Lunch</a></li>
				<li><a href="#dinner" class='disabled'>Dinner</a></li>
				<li class="active"><a href="#sushisashimi">Sushi &amp; Sashimi</a></li>
			</ul>
			<div class="tab-content menu">
				<div class="tab-pane" id="happyhour">happy hour</div>
				<div class="tab-pane" id="lunch">lunch</div>
				<div class="tab-pane" id="dinner">dinner</div>
				<div class="tab-pane active" id="sushisashimi">
					<div class="container">
						<div class="row menu-header">
							<div class="span3"><span>Nigiri</span></div>
							<div class="span1"><p>2pcs</p></div>
							<div class="span1"><p>5pcs</p></div>
							<div class="span2"></div>
							<div class="span3"><span class='menu-header'>Rolls</span></div>
							<div class="span1"><p>hand</p></div>
							<div class="span1"><p>cut</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Albacore</p></div>
							<div class="span1"><p>5</p></div>
							<div class="span1"><p>12</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Blue Crab Roll</p></div>
							<div class="span1"><p>7</p></div>
							<div class="span1"><p>10</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Blue Crab</p></div>
							<div class="span1"><p>8</p></div>
							<div class="span1"><p>n/a</p></div>
							<div class="span2"></div>
							<div class="span3"><p>California Roll</p></div>
							<div class="span1"><p>4</p></div>
							<div class="span1"><p>6</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Fresh Water Eel</p></div>
							<div class="span1"><p>6</p></div>
							<div class="span1"><p>14</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Caterpillar Roll</p></div>
							<div class="span1"><p>n/a</p></div>
							<div class="span1"><p>14</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Giant Clam</p></div>
							<div class="span1"><p>9</p></div>
							<div class="span1"><p>mp</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Choleste Roll</p></div>
							<div class="span1"><p>n/a</p></div>
							<div class="span1"><p>12</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Halibut</p></div>
							<div class="span1"><p>7</p></div>
							<div class="span1"><p>16</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Cucumber Roll</p></div>
							<div class="span1"><p>3</p></div>
							<div class="span1"><p>3.5</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Kanpachi</p></div>
							<div class="span1"><p>7</p></div>
							<div class="span1"><p>16</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Dragon Roll</p></div>
							<div class="span1"><p>n/a</p></div>
							<div class="span1"><p>14</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Mackerel</p></div>
							<div class="span1"><p>6</p></div>
							<div class="span1"><p>14</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Eel &amp; Roll</p></div>
							<div class="span1"><p>n/a</p></div>
							<div class="span1"><p>6</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Mackerel (Spanish)</p></div>
							<div class="span1"><p>7</p></div>
							<div class="span1"><p>mp</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Fiesta Roll</p></div>
							<div class="span1"><p>4</p></div>
							<div class="span1"><p>14</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Octopus</p></div>
							<div class="span1"><p>5</p></div>
							<div class="span1"><p>12</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Manhattan Roll</p></div>
							<div class="span1"><p>n/a</p></div>
							<div class="span1"><p>14</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Ono</p></div>
							<div class="span1"><p>6</p></div>
							<div class="span1"><p>14</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Philly Roll</p></div>
							<div class="span1"><p>4</p></div>
							<div class="span1"><p>7</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Red Snapper</p></div>
							<div class="span1"><p>7</p></div>
							<div class="span1"><p>16</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Philly Roll Special</p></div>
							<div class="span1"><p>n/a</p></div>
							<div class="span1"><p>12</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Snapper (Kinme)</p></div>
							<div class="span1"><p>7</p></div>
							<div class="span1"><p>16</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Phoenix Roll</p></div>
							<div class="span1"><p>n/a</p></div>
							<div class="span1"><p>14</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Salmon</p></div>
							<div class="span1"><p>6</p></div>
							<div class="span1"><p>14</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Red Dragon Roll</p></div>
							<div class="span1"><p>n/a</p></div>
							<div class="span1"><p>14</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Salmon Roe</p></div>
							<div class="span1"><p>7</p></div>
							<div class="span1"><p>n/a</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Rainbow Roll</p></div>
							<div class="span1"><p>n/a</p></div>
							<div class="span1"><p>14</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Scallop (Hotate)</p></div>
							<div class="span1"><p>7</p></div>
							<div class="span1"><p>16</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Salmon Asparagus Roll</p></div>
							<div class="span1"><p>n/a</p></div>
							<div class="span1"><p>9</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Sea Urchin</p></div>
							<div class="span1"><p>9</p></div>
							<div class="span1"><p>20</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Salmon Skin Roll</p></div>
							<div class="span1"><p>4</p></div>
							<div class="span1"><p>6</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Seared Tuna</p></div>
							<div class="span1"><p>6</p></div>
							<div class="span1"><p>14</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Scallop Roll</p></div>
							<div class="span1"><p>4</p></div>
							<div class="span1"><p>6</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Shrimp</p></div>
							<div class="span1"><p>5</p></div>
							<div class="span1"><p>12</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Scallop Roll Baked</p></div>
							<div class="span1"><p>n/a</p></div>
							<div class="span1"><p>12</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Smelt Egg</p></div>
							<div class="span1"><p>5</p></div>
							<div class="span1"><p>12</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Spicy Tuna Roll</p></div>
							<div class="span1"><p>4</p></div>
							<div class="span1"><p>6</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Squid</p></div>
							<div class="span1"><p>7</p></div>
							<div class="span1"><p>16</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Spider Roll</p></div>
							<div class="span1"><p>n/a</p></div>
							<div class="span1"><p>12</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Sweet Shrimp</p></div>
							<div class="span1"><p>8</p></div>
							<div class="span1"><p>18</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Tiger Roll</p></div>
							<div class="span1"><p>6</p></div>
							<div class="span1"><p>12</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Tamago (Egg)</p></div>
							<div class="span1"><p>4</p></div>
							<div class="span1"><p>4</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Tuna Roll</p></div>
							<div class="span1"><p>5</p></div>
							<div class="span1"><p>6</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Toro</p></div>
							<div class="span1"><p>mp</p></div>
							<div class="span1"><p>mp</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Veggie Roll</p></div>
							<div class="span1"><p>4</p></div>
							<div class="span1"><p>5</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Tuna</p></div>
							<div class="span1"><p>mp</p></div>
							<div class="span1"><p>mp</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Veggie Ten Roll</p></div>
							<div class="span1"><p>5</p></div>
							<div class="span1"><p>7</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Tuna (Blue Fin)</p></div>
							<div class="span1"><p>mp</p></div>
							<div class="span1"><p>mp</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Yellowtail Roll</p></div>
							<div class="span1"><p>5</p></div>
							<div class="span1"><p>6</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Yellowtail </p></div>
							<div class="span1"><p>6</p></div>
							<div class="span1"><p>14</p></div>
							<div class="span2"></div>
							<div class="span3"><p>Texas Heat</p></div>
							<div class="span1"><p>n/a</p></div>
							<div class="span1"><p>14</p></div>
						</div>
						<div class="row">
							<div class="span3"><p>Yellowtail Belly</p></div>
							<div class="span1"><p>7</p></div>
							<div class="span1"><p>16</p></div>
							<div class="span7"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>