<% content_for :subnav do %>
	<%# render 'static_pages/menu_subnav' %>
<% end %>

<div id="menu" class='menu-section container'>
	<div clas='row'>
		<div class='span12'>
			<ul class='nav nav-tabs' id='menu-tabs'>
				<li class='active'><a href='#happyhour'>Happy Hour</a></li>
				<li><a href='#lunch'>Lunch</a></li>
				<li><a href='#dinner'>Dinner</a></li>
				<li><a href='#sushisashimi'>Sushi &amp; Sashimi</a></li>
			</ul>
			<div class='tab-content' id='menu-tab-panes'>
				<div class='tab-pane active' id='happyhour'>
					<%= render partial: 'happyhour_menu' %>
				</div>
				<div class='tab-pane' id='lunch'>
					<%= render partial: 'lunch_menu' %>
				</div>
				<div class='tab-pane' id='dinner'>
					<%= render partial: 'dinner_menu' %>
				</div>
				<div class='tab-pane' id='sushisashimi'>
					<%= render partial: 'sushi_menu' %>
				</div>
			</div>
		</div>
	</div>
</div>