<% @menu_pages.each do |mp| %>
	<li class='<%= (mp.index == 0) ? "active" : "" %>'>
		<%= link_to mp.tab, '#menutab' + mp.id.to_s, 'data-showurl' => menu_path(mp) %>
	</li>
<% end %>
<li class='new-menu-page'>
	<%= link_to '+', '#' %>
</li>
