<% new_menu_page_id = (1 + Random.rand(Time.now.to_i)) %>
<div id="menu" class='menu-section container'>
	<div clas='row'>
		<div class='span12'>
			<ul class='nav nav-tabs' id='menu-tabs'>
				<% @menu_pages.each_with_index do |mp, menuindex| %>
					<%= render partial: 'tab', locals: { menu_page_id: menuindex, mp: mp } %>
				<% end %>
				<%= render partial: 'tab', locals: { menu_page_id: new_menu_page_id } %>
			</ul>
			<div class='tab-content' id='menu-tab-panes'>
				<% @menu_pages.each_with_index do |mp, menuindex| %>
					<%= render partial: 'tab_pane', locals: { menu_page_id: menuindex, mp: mp } %>
				<% end %>
				<%= render partial: 'tab_pane', locals: { menu_page_id: new_menu_page_id } %>
			</div>
		</div>
	</div>
</div>