<div class="container">
	<div class="row sections">
		<div class="span4 testimonials">
			<h3 class="footer_header">
				Testimonials
			</h3>
		</div>
		<div class="span4 testimonials"></div>
		<div class="span4 testimonials"></div>
	</div>
	<div class="row sections">
		<div class="span4 testimonials">
			<div class="wrapper">
				<div class="quote">
					<span>“</span>
					We have been coming to Katsu for years.  The owner is great, he works as a sushi chef.  The food is great, fish is fresh.  Great for a party of 8 or if you just want to sit at the bar.
					<span>”</span>
				</div>
			</div>
		</div>
		<div class="span4 testimonials">
			<div class="wrapper">
				<div class="quote">
					<span>“</span>
					I ordered the chirashi which was incredible for the price.  I have never had chirashi with that kind of variety in the US...  I challenge you to find better sushi for the price.
					<span>”</span>
				</div>
			</div>
		</div>
		<div class="span4 testimonials">
			<div class="wrapper">
				<div class="quote">
					<span>“</span>
					I went here last night, and I must say... It's been too damn long since I had sushi that good! What a find!
					<span>”</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row credits">
		<div class="span12">
			<div class="row social">
				<div class="span12">
					<a href="https://www.facebook.com/KatsuSushi" class="facebook">
						<span class="socialicons ico1"></span>
						<span class="socialicons_h ico1h"></span>
					</a>
					<a href="https://twitter.com/KatsuSushi" class="twitter">
						<span class="socialicons ico2"></span>
						<span class="socialicons_h ico2h"></span>
					</a>
					<a href="#" class="gplus">
						<span class="socialicons ico3"></span>
						<span class="socialicons_h ico3h"></span>
					</a>
					<a href="#" class="flickr">
						<span class="socialicons ico4"></span>
						<span class="socialicons_h ico4h"></span>
					</a>
					<a href="#" class="pinterest">
						<span class="socialicons ico5"></span>
						<span class="socialicons_h ico5h"></span>
					</a>
					<a href="#" class="dribble">
						<span class="socialicons ico6"></span>
						<span class="socialicons_h ico6h"></span>
					</a>
					<a href="#" class="behance">
						<span class="socialicons ico7"></span>
						<span class="socialicons_h ico7h"></span>
					</a>
				</div>
			</div>
			<div class="row copyright">
				<div class="span12">
					© 2013 Silven Inc. All rights reserved.
				</div>
			</div>
		</div>            
	</div>
</div>